%h1 {
  @extend %PUSHER-font-weight-bold;
  font-size: rem-calc(30px);
}

%h2 {
  @extend %PUSHER-font-weight-medium;
  font-size: rem-calc(24px);
}

p {
  @extend %PUSHER-font-weight-regular;
  font-size: rem-calc(16px);
}