// - - - - - - - - - - - - - - - - - - - - - - - - -
// Utilities
// - - - - - - - - - - - - - - - - - - - - - - - - -

.u-pull-left {
  float: left;
}

.u-pull-right {
  float: right;
}

%clearfix {
  &:before,
  &:after {
    content: ' ';
    display: table;
  }

  &:after {
    clear: both;
  }
}

.va-contents {
  display: flex;
  align-items: center;
}

.dev-branding {
  background-color: $PUSHER-color-developer-primary;
}