$url-helper-path: false !default;
$font-url-helper-path: false !default;
$font-url-path: "/fonts/" !default;

// A function which can either output a image-url to be used with the Rails
// Asset Pipeline or Compass or a plain url which is prefixed with a defined
// path variable.
@function file-url($file) {
  $url: '';
  @if $url-helper-path {
    $url: url($path + $file);
  } @else {
    $url: asset-url($file);
  }
  @return $url;
}

@function font-url-helper($file) {
  $url: '';
  @if $font-url-helper-path {
    $url: font-url($file);
  } @else {
    $url: url($font-url-path + $file);
  }
  @return $url;
}