// - - - - - - - - - - - - - - - - - - - - - - - - -
// Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-alert {
  .alert {
    border-radius: $border-radius;
    display: block;
    margin: rem-calc(10px) 0;
    max-width: 100%;
    padding: 12px 30px;
    text-align: left;
    width: auto;
    line-height: 1.4em;

    &__title {
      font-size: rem-calc(14px);
      display: block;
      color: inherit;
    }

    &__copy {
      font-size: rem-calc(14px);
      color: inherit;

      ul {
        margin-left: 16px;

        li {
          font-size: rem-calc(14px) !important;          
        }
      }

    }

    &__icon,
    &__icon svg {
      display: inline;
      vertical-align: bottom; 
    }

    &__icon {
      margin-right: 1em;
    }

    &--danger,
    &--error {
      background-color: $color-danger;
      border-color: darken($color-danger, 5%);
      color: #fff;
    }

    &--success {
      background-color: $color-success;
      border-color: darken($color-success, 5%);
      color: #fff;
    }

    &--information {
      background-color: $color-information;
      background-image: file-url('ui_icons/info.svg');
      background-repeat: no-repeat;
      background-position: 20px 14px;
      color: #fff;
      border: 1px solid darken($color-information, 6%);
      padding-left: 50px;
    }
  }
}