// - - - - - - - - - - - - - - - - - - - - - - - - -
// Code Box
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-code-box {
  .c-code {
    width: 100%;
    position: relative;

    &__nav {
      width: 100%;
      height: 30px;
      background-color: #434d5f;

      &__title {
        @extend %font-family-secondary;
        display: block;
        height: 30px;
        float: left;
        width: calc(100% - 250px);
        font-size: rem-calc(13px);
        color: #e8e8e8;
        padding: 10px 0 10px 10px;
      }

      &__languages {
        display: block;
        list-style: none;
        float: right;
        width: 250px;
        margin: 0;
        padding: 0;

        li {
          color: #fff;
          font-size: rem-calc(11px);
          font-weight: 600;
          text-align: center;
          text-transform: uppercase;
          text-shadow: 0 0 1px rgba(0, 0, 0, .05);
          width: auto;
          float: right;
          height: 30px;
          padding: 8px 10px;
          border-left: 1px solid lighten(#434d5f, 5%);
          cursor: pointer;

          &:hover {
            background-color: darken(#434d5f, 5%);
          }

          &.current {
            background-color: darken($color-black, 5%);
          }
        }
      }
    }

    &__content {
      background: darken($color-black, 5%);

      &__container {
        display: none;
        font-size: 15px;

        &.current {
          display: block;
        }
      }
    }
  }
}