// - - - - - - - - - - - - - - - - - - - - - - - - -
// Code Box
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-code-box {
  .c-code {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    
    @media #{$medium-up} {
      margin-bottom: 0;
    }

    &__nav {
      width: 100%;
      height: 60px;
      background-color: #434d5f;

      @media #{$medium-up} {
        height: 30px;
      }

      &__title {
        @extend %font-family-secondary;
        display: block;
        height: 30px;
        width: 100%;
        font-size: rem-calc(13px);
        color: #e8e8e8;
        padding: 10px 0 10px 10px;

        @media #{$medium-up} {
          width: calc(100% - 350px);
          float: left;
        }
      }

      &__languages {
        display: block;
        list-style: none;
        width: 100%;
        margin: 0;
        padding: 0;

        @media #{$medium-up} {
          float: right;
          width: 350px;
        }

        li {
          color: #fff;
          font-size: rem-calc(13px);
          font-weight: 500;
          text-align: center;
          text-shadow: 0 0 1px rgba(0, 0, 0, .05);
          width: auto;
          float: left;
          height: 30px;
          padding: 8px 10px;
          border-left: 1px solid lighten(#434d5f, 5%);
          cursor: pointer;

          @media #{$medium-up} {
            float: right;
          }

          &:hover {
            background-color: darken(#434d5f, 5%);
          }

          &.current {
            background-color: darken($color-black, 5%);
            border-top: 2px solid $color-developer;
          }
        }
      }
    }

    &__content {
      background: darken($color-black, 5%);

      &__container {
        display: none;
        font-size: 15px;

        &.current {
          display: block;
        }
      }
    }
  }
}