// - - - - - - - - - - - - - - - - - - - - - - - - -
// Feature Slider
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-feature-slider {
  .c-feature-slider {
    position: relative;

    &__nav {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      overflow: auto;
      text-align: left;
      // Placed on the parent to stop selection of white-space.
      user-select: none;

      @media #{$medium-up} {
        text-align: center;
      }

      li {
        @extend %font-family-primary;
        float: none;
        padding: 5px 0;
        font-size: rem-calc(17px);
        color: #8898b3;
        cursor: pointer;
        display: block;
        position: relative;
        font-weight: 600;

        @media #{$medium-up} {
          display: inline;
          padding: 0 10px;
        }

        &:after {
          width: 0%;
          background: rgba(255, 255, 255, .6);
          height: 2px;
          content: "";
          bottom: -4px;
          left: 10px;
          display: none;
          position: absolute;
          transition: width 250ms cubic-bezier(0.155, 1.0, 0.295, 1.0);

          @media #{$medium-up} {
            display: block;
          }
        }

        &.current {
          color: #fff;

          &:after {
            width: 100%;
            width: calc(100% - 20px);
          }

          &:first-of-type:after {
            width: calc(100% - 10px);
          }
        }

        &:hover {
          color: #fff;
        }

        &:first-of-type {
          padding-left: 0;

          &:after {
            left: 0;
          }
        }

        a {
          color: #8898b3;
          text-decoration: none;
        }
      }
    }

    &__content {
      width: 100%;

      &__container {
        display: none;
        position: relative;
        min-height: 400px;
        transform: translateX(70px);
        opacity: 0;
        transition: all 400ms ease-in-out;

        &.current {
          display: block;
          opacity: 1;
          transform: translateX(0);
          
          .grid .grid__columns:first-of-type {
            display: flex;
            align-items: center;
          }
        }
      }
    }
  }
}