// - - - - - - - - - - - - - - - - - - - - - - - - -
// Labels
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-labels {
  .label {
    @extend %font-family-secondary;
    background-color: transparent;
    border-radius: 3px;
    border-style: solid;
    border-width: 2px;
    color: #fff;
    display: inline-block;
    font-size: rem-calc(11px);
    font-weight: 700;
    height: 24px;
    letter-spacing: 0;
    line-height: 1.3em;
    padding: 4px 14px;
    text-align: center;
    text-transform: uppercase;
    width: auto;

    &--success {
      color: $color-success;
    }

    &--warning {
      color: $color-warning;
    }

    &--danger {
      color: $color-danger;
    }

    &--information {
      color: $color-information;
    }
  }
}