// - - - - - - - - - - - - - - - - - - - - - - - - -
// Labels
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-labels {
  .label {
    @extend %font-family-primary;
    border-radius: 0;
    color: #fff;
    display: inline-block;
    font-size: rem-calc(11px);
    font-weight: 700;
    height: 21px;
    letter-spacing: 0;
    line-height: 1.1em;
    padding: 4px 14px;
    text-align: center;
    text-transform: uppercase;
    width: auto;

    &--success {
      background-color: $color-success;
    }

    &--warning {
      background-color: $color-warning;
    }

    &--danger {
      background-color: $color-danger;
    }

    &--information {
      background-color: $color-information;
    }
  }
}