// - - - - - - - - - - - - - - - - - - - - - - - - -
// Sections
//
// Sections are a way of splitting content into
// horizontal slabs. The benefit of this, is that
// padding and margins can be added globally.
// - - - - - - - - - - - - - - - - - - - - - - - - -

$section-padding: 50px;
$section-background-color-primary: #fff;

@mixin CHAMELEON-sections {

  %content-light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      color: $color-white;
    }
  }

  .c-section {
    background-color: $section-background-color-primary;
    padding: $section-padding 0;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;

    &--double-padding {
      padding-top: ($section-padding * 2);
      padding-bottom: ($section-padding * 2);
    }

    &--half-padding {
      padding-top: ($section-padding / 2);
      padding-bottom: ($section-padding / 2);
    }

    &--no-padding {
      padding: 0;
    }

    &--no-bottom-padding {
      padding-top: $section-padding;
      padding-bottom: 0;
    }

    &--no-top-padding {
      padding-top: 0;
      padding-bottom: $section-padding;
    }

    &--page-header {
      padding-top: ($section-padding * 2.5);
      padding-bottom: ($section-padding * 2.5);
    }

    &--100vh {
      height: 100vh;
      max-height: 800px;
    }

    &--black {
      @extend %content-light;
      background-color: $color-black;
    }

    &--blue {
      @extend %content-light;
      background-color: $color-primary;
    }

    &--off-white {
      background-color: $color-off-white;
    }
  }
}