// - - - - - - - - - - - - - - - - - - - - - - - - -
// Sections
//
// Sections are a way of splitting content into
// horizontal slabs. The benefit of this, is that
// padding and margins can be added globally.
// - - - - - - - - - - - - - - - - - - - - - - - - -

$section-padding: 50px;
$section-background-color-primary: #fff;

@mixin CHAMELEON-sections {

  %content-light {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    span,
    p {
      color: $color-white;
    }
  }

  .c-section {
    background-color: $section-background-color-primary;
    padding: $section-padding 0;
    position: relative;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;

    &--double-padding {
      padding-top: ($section-padding * 2);
      padding-bottom: ($section-padding * 2);
    }

    &--half-padding {
      padding-top: ($section-padding / 2);
      padding-bottom: ($section-padding / 2);
    }

    &--no-padding {
      padding: 0;
    }

    &--no-bottom-padding {
      padding-top: $section-padding;
      padding-bottom: 0;
    }

    &--no-top-padding {
      padding-top: 0;
      padding-bottom: $section-padding;
    }

    &--100vh {
      height: 100vh;
      max-height: 800px;
    }

    &--black {
      @extend %content-light;
      background-color: $color-black;
    }

    &--feature {
      height: calc(100vh - 200px);
      max-height: 700px;
      min-height: 600px;
      background: linear-gradient(to top, rgba(darken($color-black, 10%), .6), $color-black), file-url("home/landing_page/grid-pattern.png");
      text-align: left;

      @media #{$medium-up} {
        text-align: center;
        display: flex;
        align-items: center;
        max-height: 800px;
        overflow: hidden;
      }
    }
  }
}