// - - - - - - - - - - - - - - - - - - - - - - - - -
// Signpost
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-signpost {
  .c-signpost {
    position: relative;
    width: 100%;

    &__left,
    &__right {
      height: 300px;
      position: relative;
      display: flex;
      align-items: center;
      padding: 40px 20px;

      @media #{$large-up} {
        height: 400px;
      }

    }

    &--no-flex {
      .c-signpost__left,
      .c-signpost__right {
        display: block;
      }
    }

    &__left:before,
    &__right:after {
      position: absolute;
      top: 0;
      width: 100px;
      height: 100%;
      content: "";
      display: none;

      @media #{$large-up} {
        display: block;
      }
    }

    &__left {
      z-index: 4;

      @media #{$large-up} {
        transform: translate3d(15px, -10px, 0);
        padding: 50px 50px 50px 0;
      }

      &:before {
        transform: translateX(-100px);
        background: inherit;
        left: 0;
      }

      &:after {
        display: none;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 20px 30px 0 0;
        content: "";
        bottom: -20px;
        right: 0;
        position: absolute;

        @media #{$large-up} {
          display: inline;
        }
      }
    }

    &__right {
      z-index: 3;

      @media #{$large-up} {
        transform: translate3d(-15px, 10px, 0);
        padding: 50px 200px 50px 90px !important;
      }


      &:after {
        background: inherit;
        right: 0;
        transform: translateX(100px);
      }
    }

    &__square {
      @media #{$large-up} {
        padding: 50px 60px 50px 90px !important;
      }
    }

    p {
      margin: 20px 0;
    }

    &__color-white {
      background-color: $color-white;
      &:after {
        border-color: darken($color-white, 16%) transparent transparent transparent;
      }
    }

    &__color-sales {
      background-color: $color-white;
      background-image: file-url('signpost_sales_bg.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }

    &__color-developer {
      background-color: $color-developer;

      &:after {
        border-color: darken($color-developer, 16%) transparent transparent transparent;
      }
    }

    &__color-primary {
      background-color: $color-primary;

      &:after {
        border-color: darken($color-primary, 16%) transparent transparent transparent;
      }
    }
  }
}