
/**
 * Code formatting
 */
.highlight {
  border-radius: 3px;
  margin: 10px 0;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

p {
  margin: 10px 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ddd;
  margin: 30px 0;
  padding: 0; 
}