$font-url-helper-path: false;
$font-url-path: "/chameleon/fonts/";

@import '../../stylesheets/chameleon';

$global-font-smoothing: true;
$file-url-helper-path: true;
$file-url-path: "/chameleon/images/";


$font-family-secondary: 'Proxima Nova';

@include CHAMELEON-base;
@include CHAMELEON-grid;
@include CHAMELEON-typography;
@include CHAMELEON-syntax-highlighting;
@include CHAMELEON-forms;
@include CHAMELEON-flex-aligners;
@include CHAMELEON-alert;
@include CHAMELEON-labels;
@include CHAMELEON-tooltips;