@import '../../stylesheets/chameleon';

$global-font-smoothing: true;
$file-url-helper-path: true;
$file-url-path: "/chameleon/images/";

@include CHAMELEON-base;
@include CHAMELEON-grid;
@include CHAMELEON-typography;
@include CHAMELEON-forms;
@include CHAMELEON-flex-aligners;
@include CHAMELEON-alert;
@include CHAMELEON-labels;
@include CHAMELEON-tooltips;