.docs {
  margin-top: 80px;
  padding-bottom: 50px;

  &__aside {
    margin-top: 80px;

    h5 {
      font-size: 17px;
      font-weight: 600;
      color: #232323;
      margin-bottom: 5px;
    }

    ul {
      list-style: none;
      margin: 0 0 20px;
      padding: 0;

      li {
        font-size: 17px;
        font-weight: 400;
        color: #8a8a8a;
        line-height: 1.2em;
        margin-bottom: 5px;
        border-left: 0;
        transition: all 100ms ease-in-out;
        padding-left: 0;

        &:hover:not(.current) {
          padding-left: 7px;
        }
      }

      a {
        color: inherit;
        text-decoration: none;
      }

      .current {
        border-left: 2px solid $color-primary;
        padding-left: 5px;
      }
    }

    a {
      text-decoration: none;
    }

    .icon {
      width: 20px;
      height: 20px;
      display: inline;

      svg {
        fill: #828282;
      }

      &:hover {
        fill: #212121;
      }
    }
  }
}

.pattern {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;

  + .highlighter-rouge .highlight {
    margin: 0 0 40px;
    border-radius: 0 0 3px 3px;
  }

  &--dark {
    background-color: $color-black;
    border: 1px solid $color-black;
  }

  .grid {
    margin-bottom: 20px;    
  }

  .grid__columns > .grid-block {
    min-height: 50px;
    background-color: #eee;
    text-align: center;
    padding: 18px 4px;
    font-size: 14px;
    line-height: 1.2em;
  }



  .flex-block {
    width: 100%;
    height: 220px;
    background-color: #eee;
  }
}


.cb-var {
  width: 100%;
  height: 40px;
  border: 1px dashed #ccc;
  border-top: 0;
  text-align: center;
  font-size: 15px;
  padding: 12px 0;
}

.cb-primary,
.cb-secondary,
.cb-developer,
.cb-black {
  color: #fff;
}

.cb-white,
.cb-off-white {
  color: $color-black;
}

.cb-primary {
  background-color: $color-primary;
}

.cb-secondary {
  background-color: $color-secondary;
}

.cb-developer {
  background-color: $color-developer;
}

.cb-white {
  background-color: $color-white;
}

.cb-off-white {
  background-color: $color-off-white;
}

.cb-black {
  background-color: $color-black;
}


.post-header {
  height: 60px;
  margin-bottom: 20px;
}


.color-block {
  width: 100%;
  height: 120px;
  border-radius: $border-radius;
  padding: 40px 20px;
  text-align: center;
  margin-bottom: 20px;

  span {
    @extend %font-family-secondary;
    font-size: rem-calc(16px);
    font-weight: 400;

    &:last-of-type {
      opacity: .8;
      display: block;
      font-size: rem-calc(14px);
    }
  }
}