h1 {
  @extend %font-family-primary;
  @extend .title--alpha;
  // font-size: rem-calc(24px);
  // color: $color-slate;
  // font-weight: 700;
  // line-height: 1em;
  // text-transform: uppercase;
}

h2:not(.pattern-item) {
  @extend %font-family-primary;
  font-size: rem-calc(16px);
  color: $color-slate;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  @extend .title--gamma;
}

h4 {
  @extend .title--delta;
}

h5 {
  @extend .title--epsilon;
}

h6 {
  @extend .title--zeta;
}

p {
  font-size: rem-calc(18px);
  line-height: 1.6em;
  margin-bottom: rem-calc(20px);
  color: $color-slate;
}