// - - - - - - - - - - - - - - - - - - - - - - - - -
// Global Variables & Styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Layout & Grid
$global-width: 1200px !default;
$global-left: left;
$global-right: right;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

$breakpoint-classes: (small medium large) !default;

$grid-row-width: $global-width;
$grid-column-count: 12 !default;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
) !default;

$grid-column-align-edge: true;
$block-grid-max: 8;

// Base Colour Palette
$color-palette: (
  primary: #549eff,
  secondary: #977fda,
  developer: #21D3C1,
  success: #43ac6a,
  warning: #ffae00,
  danger: #b74a48,
  information: #34495e,
  alert: #b74a48,
) !default;

$color-primary: map-get($color-palette, primary);
$color-secondary: map-get($color-palette, secondary);
$color-developer: map-get($color-palette, developer);
$color-success: map-get($color-palette, success);
$color-warning: map-get($color-palette, warning);
$color-danger: map-get($color-palette, danger);
$color-information: map-get($color-palette, information);

// Neutrals Colour Palette
$color-neutrals: (
  white: #ffffff,
  black: #2b303b,
  slate: #414859,
  silver: #8690a6,
  smoke: #d3dce7,
  snow: #f4f8fb
) !default;

$color-white: map-get($color-neutrals, white);
$color-black: map-get($color-neutrals, black);
$color-slate: map-get($color-neutrals, slate);
$color-silver: map-get($color-neutrals, silver);
$color-smoke: map-get($color-neutrals, smoke);
$color-snow: map-get($color-neutrals, snow);
// Legacy
$color-off-white: $color-snow;
$color-grey-one: $color-silver;


// Typography
$global-font-size: 100% !default;
$global-font-smoothing: false !default;

$font-family-primary: 'Realtime Text', Helmet, Freesans, sans-serif !default;
$font-family-secondary: 'proxima-nova', Helmet, Freesans, sans-serif !default;
$font-family-monospace: 'Consolas', Monaco, 'Andale Mono', monospace !default;


%font-family-primary {
  font-family: $font-family-primary;
}

%font-family-secondary {
  font-family: $font-family-secondary;
}

// Misc
$border-radius: 0px !default;
$button-namespace: 'btn' !default;
