// - - - - - - - - - - - - - - - - - - - - - - - - -
// Global Variables & Styles
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Layout & Grid
$global-width: 1200px !default;
$global-left: left;
$global-right: right;

$breakpoints: (
  small: 0,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
) !default;

$breakpoint-classes: (small medium large) !default;

$grid-row-width: $global-width;
$grid-column-count: 12 !default;
$grid-column-gutter: (
  small: 20px,
  medium: 30px,
) !default;

$grid-column-align-edge: true;
$block-grid-max: 8;

// Colours
$color-palette: (
  primary: #549eff,
  secondary: #977fda,
  developer: #21D3C1,
  success: #43ac6a,
  warning: #ffae00,
  alert: #b74a48,
) !default;

$color-white: #ffffff !default;
$color-off-white: #f4f8fb !default;
$color-black: #2b303b !default;
$color-grey-one: #e2e3e5 !default;

$color-primary: map-get($color-palette, primary);
$color-secondary: map-get($color-palette, secondary);
$color-developer: map-get($color-palette, developer);
$color-success: map-get($color-palette, success);
$color-warning: map-get($color-palette, warning);
$color-alert: map-get($color-palette, alert);

// Typography
$global-font-size: 100% !default;
$global-font-smoothing: false !default;

$font-family-primary: 'Rajdhani', Helvetica, Arial, sans-serif !default;
$font-family-secondary: 'PT Mono', monospace !default;
$font-family-monospace: 'Consolas', Monaco, 'Andale Mono', monospace !default;

%font-family-primary {
  font-family: $font-family-primary;
}

%font-family-secondary {
  font-family: $font-family-secondary;
}


