@mixin chameleon-typography-base {
  div,
  dl,
  dt,
  dd,
  ul,
  ol,
  li,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  pre,
  form,
  p,
  blockquote,
  th,
  td {
    margin: 0;
    padding: 0;
  }

  a {
    color: $color-primary;
    font-weight: 500;
  }

  p,
  ul li,
  ol li {
    @extend %p;
  }

  .p-max {
    @extend %p-max;
  }

  .p-min {
    @extend %p-min;
  }

  strong {
    font-weight: 600;
  }

  code {
    font-family: $font-family-monospace;
    font-size: rem-calc(14px);
    font-feature-settings: normal;
    background-color: $color-snow;
    padding: 4px 4px;
    border-radius: 3px;
  }
}
