@mixin chameleon-typography-helpers {

  // We provide dark and light
  // class names for legacy

  .u-color-dark,
  .u-color-black {
    color: $color-black !important;
  }

  .u-color-light,
  .u-color-white {
    color: $color-white !important;
  }

  .u-color-primary {
    color: $color-primary !important;
  }

  .u-color-snow {
    color: $color-snow !important;
  }

  .u-color-smoke {
    color: $color-smoke !important;
  }

  .u-color-silver {
    color: $color-silver !important;
  }

  .u-color-slate {
    color: $color-slate !important;
  }

  .u-text-align-center {
    text-align: left;

    @media #{$medium-up} {
      text-align: center;
    }
  }

  .u-text-align-right {
    text-align: right;
  }
}