// Realtime Text Light
@font-face {
  font-family: 'pusher-realtime-text';
  font-weight: 300;
  src: url('#{$cdn-font-url}/realtime_text_light.eot');
  src: url('#{$cdn-font-url}/realtime_text_light.woff2') format('woff2'),
       url('#{$cdn-font-url}/realtime_text_light.woff') format('woff'),
       url('#{$cdn-font-url}/realtime_text_light.ttf') format('truetype'),
       url('#{$cdn-font-url}/realtime_text_light.eot?#iefix') format('embedded-opentype');
}

// Realtime Text Regular
@font-face {
  font-family: 'pusher-realtime-text';
  font-weight: 400;
  src: url('#{$cdn-font-url}/realtime_text_regular.eot');
  src: url('#{$cdn-font-url}/realtime_text_regular.woff2') format('woff2'),
       url('#{$cdn-font-url}/realtime_text_regular.woff') format('woff'),
       url('#{$cdn-font-url}/realtime_text_regular.ttf') format('truetype'),
       url('#{$cdn-font-url}/realtime_text_regular.eot?#iefix') format('embedded-opentype');
}

// Realtime Text Semibold
@font-face {
  font-family: 'pusher-realtime-text';
  font-weight: 500;
  src: url('#{$cdn-font-url}/realtime_text_semibold.eot');
  src: url('#{$cdn-font-url}/realtime_text_semibold.woff2') format('woff2'),
       url('#{$cdn-font-url}/realtime_text_semibold.woff') format('woff'),
       url('#{$cdn-font-url}/realtime_text_semibold.ttf') format('truetype'),
       url('#{$cdn-font-url}/realtime_text_semibold.eot?#iefix') format('embedded-opentype');
}

// Realtime Text Bold
@font-face {
  font-family: 'pusher-realtime-text';
  font-weight: 600;
  src: url('#{$cdn-font-url}/realtime_text_bold.eot');
  src: url('#{$cdn-font-url}/realtime_text_bold.woff2') format('woff2'),
       url('#{$cdn-font-url}/realtime_text_bold.woff') format('woff'),
       url('#{$cdn-font-url}/realtime_text_bold.ttf') format('truetype'),
       url('#{$cdn-font-url}/realtime_text_bold.eot?#iefix') format('embedded-opentype');
}

// Realtime Text Black
@font-face {
  font-family: 'pusher-realtime-text';
  font-weight: 700;
  src: url('#{$cdn-font-url}/realtime_text_black.eot');
  src: url('#{$cdn-font-url}/realtime_text_black.woff2') format('woff2'),
       url('#{$cdn-font-url}/realtime_text_black.woff') format('woff'),
       url('#{$cdn-font-url}/realtime_text_black.ttf') format('truetype'),
       url('#{$cdn-font-url}/realtime_text_black.eot?#iefix') format('embedded-opentype');
}