@mixin chameleon-typography-titles {
  .title-block {
    padding: 20px 0;
  }

  .title-primary {
    font-size: rem-calc(50px);
    font-weight: 500;
    line-height: 1.2em;

    strong {
      font-weight: 600;
    }
  }

  .title-secondary {
    font-size: rem-calc(28px);
    line-height: 1.15em;
    font-weight: 500;
  }

  .title-shoutout {
    font-size: rem-calc(36px);
    font-weight: 400;
    line-height: 1.3em;
    text-align: center;
  }
}