@mixin chameleon-typography-titles {
  .title-block {
    padding: 20px 0;
  }

  h1,
  h2,
  h3 {
    @extend %font-family-primary;
  }

  h1 {
    font-size: rem-calc(28px);
    line-height: 1.1em;
    font-weight: 400;
    letter-spacing: -1.4px;

    // Allows page titles to be responsively wrapped with <wbr>
    white-space: nowrap;

    strong {
      font-weight: 500;
    }

    @media #{$medium-up} {
      font-size: rem-calc(34px);
    }
  }

  .feature-title {
    font-size: rem-calc(38px);
    font-weight: 300;
    line-height: 1em;
    margin-bottom: 5px;
    letter-spacing: -1px;

    strong {
      font-weight: 500;
    }

    @media #{$medium-up} {
      font-size: rem-calc(58px);
      letter-spacing: -2px;
    }
  }

  h2 {
    font-size: rem-calc(24px);
    line-height: 1.25em;
    font-weight: 400;
    color: $color-black;
    letter-spacing: -2px;
    white-space: nowrap;

    @media #{$medium-up} {
      font-size: rem-calc(28px);
    }
  }

  h3 {
    font-size: rem-calc(22px);
    font-weight: 400;
    line-height: 1.15em;
  }

  h4 {
    @extend %font-family-secondary;
    font-size: rem-calc(18px);
    font-weight: 400;
    line-height: 1.4em;
    text-transform: none;
  }

  h5 {
    @extend %font-family-primary;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.1em;
  }


  h6 {
    text-transform: uppercase;
    font-size: rem-calc(12px);
    font-weight: 700;
    color: $color-black;
    line-height: 1.1em;
  }

  .shoutout {
    font-size: rem-calc(31px);
    font-weight: 400;
    line-height: 1.3em;
    text-align: left;

    @media #{$medium-up} {
      font-size: rem-calc(36px);
      text-align: center;
      
    }
  }
}