<!DOCTYPE html>
<html>

  <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Visibility | Chameleon</title>
  <meta name="description" content="Each breakpoint has it’s own set of classes that can be used:">

  <link rel="stylesheet" href="https://pusher.github.io/chameleon/css/main.css">
  <link rel="canonical" href="https://pusher.github.io/chameleon/layout/visibility/">
  <link rel="alternate" type="application/rss+xml" title="Pusher Chameleon" href="https://pusher.github.io/chameleon/feed.xml">
</head>


<body>

  <div class="docs">
    <aside class="docs__aside">
      <div class="docs__logo">
  <div>
    <span class="docs__logo__title">Chameleon</span>
    <a href="https://github.com/pusher/chameleon" class="docs__logo__version"><svg viewBox="0 0 16 16" width="12px" height="12px">
  <path fill="#fff" d="M7.999,0.431c-4.285,0-7.76,3.474-7.76,7.761 c0,3.428,2.223,6.337,5.307,7.363c0.388,0.071,0.53-0.168,0.53-0.374c0-0.184-0.007-0.672-0.01-1.32 c-2.159,0.469-2.614-1.04-2.614-1.04c-0.353-0.896-0.862-1.135-0.862-1.135c-0.705-0.481,0.053-0.472,0.053-0.472 c0.779,0.055,1.189,0.8,1.189,0.8c0.692,1.186,1.816,0.843,2.258,0.645c0.071-0.502,0.271-0.843,0.493-1.037 C4.86,11.425,3.049,10.76,3.049,7.786c0-0.847,0.302-1.54,0.799-2.082C3.768,5.507,3.501,4.718,3.924,3.65 c0,0,0.652-0.209,2.134,0.796C6.677,4.273,7.34,4.187,8,4.184c0.659,0.003,1.323,0.089,1.943,0.261 c1.482-1.004,2.132-0.796,2.132-0.796c0.423,1.068,0.157,1.857,0.077,2.054c0.497,0.542,0.798,1.235,0.798,2.082 c0,2.981-1.814,3.637-3.543,3.829c0.279,0.24,0.527,0.713,0.527,1.437c0,1.037-0.01,1.874-0.01,2.129 c0,0.208,0.14,0.449,0.534,0.373c3.081-1.028,5.302-3.935,5.302-7.362C15.76,3.906,12.285,0.431,7.999,0.431z"/>
</svg> Version 1.4.4</a>
  </div>
</div>
<nav class="docs__nav">
  
    
    
      <div class="docs__nav__item">
    
      <div class="docs__nav__item__title">Chameleon</div>
      <div class="docs__nav__item__content">
        <ul>
          
            
              
                <li><a href="https://pusher.github.io/chameleon"></a></li>
              
            
          
            
              
                <li><a href="https://pusher.github.io/chameleon/">Overview</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/chameleon/getting-started">Getting Started</a></li>
              
            
          
        </ul>
      </div>
    </div>
  
    
    
      <div class="docs__nav__item">
    
      <div class="docs__nav__item__title">Components</div>
      <div class="docs__nav__item__content">
        <ul>
          
            
              
                <li><a href="https://pusher.github.io/chameleon"></a></li>
              
            
          
            
              
                <li><a href="https://pusher.github.io/chameleon/components/tooltips/">Tooltips</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/components/labels/">Labels</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/components/alerts/">Alerts</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/components/forms/">Forms</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/components/buttons/">Buttons</a></li>
              
            
          
        </ul>
      </div>
    </div>
  
    
    
      <div class="docs__nav__item is-active">
    
      <div class="docs__nav__item__title">Layout</div>
      <div class="docs__nav__item__content">
        <ul>
          
            
              
                <li><a href="https://pusher.github.io/chameleon"></a></li>
              
            
          
            
              
                <li><a href="https://pusher.github.io/chameleon/layout/syntax-highlighting/">Syntax Highlighting</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/layout/typography/">Typography</a></li>
              
            
              
                <li class="is-active"><a href="https://pusher.github.io/chameleon/layout/visibility/">Visibility</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/layout/flex/">Flex Aligners</a></li>
              
            
              
                <li><a href="https://pusher.github.io/chameleon/layout/colors/">Colors</a></li>
              
            
          
        </ul>
      </div>
    </div>
  
</nav>
    </aside>
    <main class="docs__content">
      <div class="grid">
        <div class="grid__small-12 grid__medium-10 grid__medium-centered grid__columns">
          <article class="post">

  <header class="post-header">
    <h1>Visibility</h1>
    <p>There are a number of utility classes, including a set of visibility classes. These allow content to be hidden under certain circumstances (for example at differing screen sizes).</p>
  </header>

  <main class="post-content">
    <p>Each breakpoint has it’s own set of classes that can be used:</p>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="nv">$breakpoints</span><span class="p">:</span> <span class="p">(</span>
  <span class="na">small</span><span class="p">:</span> <span class="m">0</span><span class="o">,</span>
  <span class="na">medium</span><span class="p">:</span> <span class="m">640px</span><span class="o">,</span>
  <span class="na">large</span><span class="p">:</span> <span class="m">1024px</span><span class="o">,</span>
  <span class="na">xlarge</span><span class="p">:</span> <span class="m">1200px</span><span class="o">,</span>
  <span class="na">xxlarge</span><span class="p">:</span> <span class="m">1440px</span><span class="o">,</span>
<span class="o">);</span>
</code></pre>
</div>

<div class="highlighter-rouge"><pre class="highlight"><code><span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hide-for-small"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"hide-for-large"</span><span class="nt">&gt;&lt;/div&gt;</span>
...
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"show-for-medium"</span><span class="nt">&gt;&lt;/div&gt;</span>
<span class="nt">&lt;div</span> <span class="na">class=</span><span class="s">"show-for-xlarge"</span><span class="nt">&gt;&lt;/div&gt;</span>
...
</code></pre>
</div>

  </main>

</article>

        </div>
      </div>
    </main>

    <script>
      var navItems = document.getElementsByClassName("docs__nav__item__title");

      var toggleNav = function(ev) {
        var active_class = document.querySelector(".docs__nav__item.is-active");

        if (active_class) {
          active_class.classList.remove('is-active');
          if (ev.target.parentNode == active_class) return false
        }

        ev.target.parentNode.classList.add('is-active');

      };

      for (var i = 0, v = navItems.length; i < v; i++) {
        navItems[i].addEventListener('click', toggleNav, false);
      }
      </script>

      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-84735356-1', 'auto');
        ga('send', 'pageview');

      </script>
  </div>

</body>
</html>