// - - - - - - - - - - - - - - - - - - - - - - - - -
// Boards
//
// Boards are a way of splitting content into
// horizontal slabs. The benefit of this, is that
// padding and margins can be added globally.
// - - - - - - - - - - - - - - - - - - - - - - - - -

$PUSHERboard-padding: 80px;
$PUSHERboard-background-color-primary: #fff;

.board {
  background-color: $PUSHERboard-background-color-primary;
  padding: $PUSHERboard-padding 0;
  position: relative;
  width: 100%;

  &--double-padding {
    padding-top: ($PUSHERboard-padding * 2);
    padding-bottom: ($PUSHERboard-padding * 2);
  }

  &--half-padding {
    padding-top: ($PUSHERboard-padding / 2);
    padding-bottom: ($PUSHERboard-padding / 2);
  }

  &--no-padding {
    padding: 0;
  }

  &--no-bottom-padding {
    padding-top: $PUSHERboard-padding;
    padding-bottom: 0;
  }

  &--no-top-padding {
    padding-top: 0;
    padding-bottom: $PUSHERboard-padding;
  }

  &--100vh {
    height: 100vh;
    max-height: 800px;
  }

  &--black {
    background-color: $PUSHER-color-black;
  }
}

