// - - - - - - - - - - - - - - - - - - - - - - - - -
// Color Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Pusher Brand
$PUSHER-color-primary: #6EC8FB;
$PUSHER-color-secondary: #977FDA;

// Neutrals
$PUSHER-color-black: #0B0C0C;
$PUSHER-color-grey: #6F777B;
$PUSHER-color-white: #FDFDFD;

// Actions
$PUSHER-color-delete: #B74A48;
$PUSHER-color-success: #43AC6A;