// - - - - - - - - - - - - - - - - - - - - - - - - -
// Color Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Pusher Brand
$PUSHER-color-primary: #549eff;
$PUSHER-color-secondary: #977fda;

$PUSHER-color-developer-primary: #ff914b;

// Neutrals
$PUSHER-color-black: #2b303b;
$PUSHER-color-grey: #6f777b;
$PUSHER-color-white: #ffffff;

// Actions
$PUSHER-color-delete: #b74a48;
$PUSHER-color-success: #43ac6a;
