// - - - - - - - - - - - - - - - - - - - - - - - - -
// Color Variables
// - - - - - - - - - - - - - - - - - - - - - - - - -

// Pusher Brand
$PUSHER-color-primary: #6ec8fb;
$PUSHER-color-secondary: #977fda;

// Neutrals
$PUSHER-color-black: #0b0c0c;
$PUSHER-color-grey: #6f777b;
$PUSHER-color-white: #fdfdfd;

// Actions
$PUSHER-color-delete: #b74a48;
$PUSHER-color-success: #43ac6a;
