// - - - - - - - - - - - - - - - - - - - - - - - - -
// Base Input Styles
// ================
// These are the very basic input styles.
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin base-input() {
  @extend %font-family-secondary;
  background: transparent;
  border-radius: $border-radius;
  border: 1px solid $color-smoke;
  color: $color-black;
  font-size: rem-calc(15px);
  font-weight: 400;
  height: 40px;
  line-height: 2em;
  padding: 4px 20px;
  transition: border 200ms ease-in-out;
  width: 100%;
  text-transform: none;
  appearance: none !important;
  -webkit-appearance: none !important;

  &:focus {
    border: 1px solid $color-primary;
    outline: 0;
  }

  &.error {
    border-color: $color-danger;
    border-width: 1px;
  }

  &.valid {
    border-color: $color-success;
    border-width: 1px;
  }

  &.input--light:not(.error):not(.valid) {
    border: 1px solid rgba(#ddd, .2);
    color: #fff;

    &:focus {
      border: 1px solid $color-primary;
    }
  }
}
