// - - - - - - - - - - - - - - - - - - - - - - - - -
// Form Groups
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-forms-fieldset {
  .fieldset {
    overflow: auto;
    border: 0;
    padding: 0;
    margin: 0;

    input,
    button {
      float: left;
      width: auto;
    }
  }
}
