// - - - - - - - - - - - - - - - - - - - - - - - - -
// Form Text Input
// - - - - - - - - - - - - - - - - - - - - - - - - -

@mixin CHAMELEON-forms-input {
  input[type="text"],
  input[type="email"] {
    @extend %font-family-primary;
    width: 100%;
    height: 40px;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, .2);
    padding: 10px 20px;
    font-size: rem-calc(13px);
    color: #fff;
    transition: border 200ms ease-in-out;

    &:focus {
      outline: 0;
      border: 1px solid $color-primary;
    }

    &.error {
      border-color: $color-alert;
      border-width: 1px;
    }
  }
}